body {
  margin: 0;
}

h2 {
  text-align: center;
}
p {
  padding-left: 5%;
}
svg{
  position: relative;
  margin: 0 auto;
  text-align: center;
}

svg rect{
  stroke: black;
  text-align: center;

}
