body {
  margin: 0;
}

h2 {
  text-align: center;
}
p {
  padding-left: 5%;
}
svg{
  position: relative;
  margin: 0 auto;
}

svg rect{
  stroke: black;
}
.svg-container{
  text-align: center;
}

.button-container{
  text-align: center;
}
// button styles
.btn{
  display: inline;
  height: 40px;
  color: white;
  border: 1px;
  border-radius: 5px;
}
// button for new values
.btn-new-values{
  background-color: rgb(166, 67, 67);
}
.btn-new-values:hover, .btn-new-values:active, .btn-new-values:visited, .btn-new-values:focus{
  background-color: rgb(150, 40, 40);
  border-color: rgb(150, 40, 40);
  color: white;
}
// button for bubble-sort
.btn-bubble-sort {
  background-color: cadetblue;
}
.btn-bubble-sort:hover, .btn-bubble-sort:active, .btn-bubble-sort:visited, .btn-bubble-sort:focus{
  background-color: rgb(79, 141, 141);
  border-color: rgb(79, 141, 141);
  color: white;
}
.btn-insertion-sort {
  background-color: rgb(153, 102, 153);
}
.btn-insertion-sort:hover, .btn-insertion-sort:active, .btn-insertion-sort:visited, .btn-insertion-sort:focus{
  background-color: rgb(113, 92, 143);;
  border-color: rgb(153, 102, 153);;
  color: white;
}

.btn-reset{
  background-color: silver;
  color: black;
  margin-left: 10px;
}
.btn-reset:hover, .btn-reset:active, .btn-reset:visited, .btn-reset:focus{
  background-color: lightgrey;
  border-color: black;
}

.slider-container{
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.space{
  width: 100%;
}
.speed-label{
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: right;
  margin-right: 10px;
}
.speed-slider{
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 20px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity .2s;
}
.speed-slider:hover{
  opacity: 1;
}
.speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 18px;
  background-color: cadetblue;
}
.bar-slider{
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 20px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity .2s;
  margin-left: 26px;
}
.bar-slider:hover{
  opacity: 1;
}
.bar-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 18px;
  background-color: cadetblue;
}
.bar-label{
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: right;
}


